
  footer {
    background-color: var(--main-color);
    color: #a7a7a7;
    font-size: 16px;
    height: 250px;
    margin-top : 1%;
    padding-top: 2%;
    border-top: 2px solid rgb(56, 50, 50);
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    padding-top: 8px;
  }

  ul li a {
    color: #a7a7a7;
    text-decoration: none;
 
  }
  ul li a:hover {
    color: #ed2a2a;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #eb0000;
    color: #ffffff;
  }

